PORT=3001
NODE_ENV=development

# Logging service credentials
LOG_BASE_URL=http://4.224.186.213/evaluation-service
LOG_EMAIL=your_email@example.com
LOG_NAME=your name
LOG_ROLL_NO=your_roll_no
LOG_ACCESS_CODE=your_access_code
LOG_CLIENT_ID=your_client_id
LOG_CLIENT_SECRET=your_client_secret
